CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

Datasets/*
!Datasets/*.sh

Experiments/*
!Experiments/*.sh
!Experiments/*.py

Dryadic/bin/*
GraphPi/build/*
Dryadic/log/*
Dryadic/plans/*
Dryadic/compiler/query
!Dryadic/Makefile

MiniGraph/plan/
MiniGraph/build/
MiniGraph/log/

#ide
.vscode
.idea
